@import url("https://fonts.googleapis.com/css?family=Krub|Noto+Serif+JP");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/container2.css");
@import url("components/banner2.css");
@import url("components/button2.css");
@import url("components/cardd.css");
@import url("components/container3.css");


body{
	font-family: 'Krub', sans-serif;
	font-size: 15px;
	margin:0px;
	color:#0b8457;
	background-color:rgba(255,255,255,0.5);
}

h1,h2{font-family: 'Noto Serif JP', sans-serif;
font-weight:lighter;
text-align: justify;

}

h3 {font-family: 'Noto Serif JP', sans-serif;
font-weight:bolder;
text-align: justify;

}
a{
	text-decoration: none;
	color:white;
	background-color:#ffaa64;}

.menu{
	background-color:#ffaa64;
	padding:20px;
	width:auto;
	text-align:center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color:white;
	font-weight: bolder;

}

.don{
	position:relative; 
	height:400px;
	background-color:white;
	padding-right: 0 15px;

}
.list-without-bullet-point{
  list-style-type: none;
  padding-left:0px;

}

.nous{
	padding: 0 auto;
	text-align: justify;
}

.footer h3{
	font-family: 'Krub', sans-serif;
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 100px;
    line-height:1.1;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.element {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Krub', sans-serif;
    font-size: 30px;

}
.avatar{
	width: 50px;
	height: 40px;
}

.reussite{
	background-color:rgba(255,255,255,0.5);
	text-align:justify;
	position: center;
	color:#0b8457;
}
.tradition{
color:#ffaa64;
font-weight: bolder;
}

